body {
    /* background-color: lightblue; */
}

.navbar-icon {
    font-size: 1.25rem;
    cursor: pointer;
}

.icon--sm {
    font-size: 1.25rem;
    cursor: pointer;
}

.card {
    outline: 0.0625rem solid #eeeeee;
}